body{
    margin: 0;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

header h1{
    font-family: 'Bakbak One', cursive;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    margin-bottom: 10px;
}

header p{
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 32px;
    line-height: 32px;
    margin: 0;
}

#comentarios form h3,
main h2{
    font-family: 'Lobster', cursive;
    font-size: 40px;
    line-height: 40px;
    font-weight: normal;
}

#comentarios form h3::before,
main h2::before{
    content: '';
    display: inline-block;
    width: 70px;
    height: 17px;
    background: white;
    margin-right: 10px;
    vertical-align: top;
    margin-top: 5px;
}

#comentarios form h3{
    margin-bottom: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

aside,
header,
form,
section,
footer{
    padding-left: 8vw;
    padding-right: 8vw;
}

form,
section{
    padding-top: 120px;
    padding-bottom: 120px;
}

header{
    background: url(img/cover.png) no-repeat;
    background-size: cover; /*contain*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header nav{
    order: 1;
    width: 100%;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav ul a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 3px 10px;
}

header nav ul a.active{
    color: #ff5d53;
    background: rgba(0,0,0,.48);
    border-bottom: 1px solid #ff5d53;
}

header *{
    order: 2
}

header img{
    width: 32%;
    margin-left: 2%;
}
header div{
    flex: 1;
    padding-top: 150px;
    padding-bottom: 150px;
    color: white;
}


aside{
    background:#2C3E48;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
}


#skills{
    background: #282631;
    color: white;
}


#skills ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills ul li{
    width: 32%;
    margin-bottom: 50px;
}

#skills ul li h3{
    text-transform: uppercase;
    font-size: 27px;
}

#skills ul li .barra{
    background: #31303e;
    display: flex;
}

#skills ul li .barra span{
    font-size: 27px;
    margin-left: 5px;
}

#skills ul li .barra::before{
    content: '';
}



#skills ul #skill_mkt{
    order: 2;
}

#skills ul #linkedin{
    background: #00669c;
    padding: 10px 30px;
    font-size: 28px;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

#skills ul #linkedin a{
    display: block;
    width: 204px;
    height: 61px;
    background: url(img/linkedin.png) center no-repeat;
    text-indent: -400px;
    overflow: hidden;
    margin: 5px auto;
}

#about{
    background: #25232e;
    color: white;
}
#about p{
    margin-left: 80px;
    font-weight: 300;
}

#about div{
    display: flex;
    flex: 1;
}

#about div img{
    width: 32%;
    margin-right: 2%;
}

#about div ul{
    padding: 15px 20px;
    border: 2px solid #ff5d53;
    border-radius: 7px;
    font-size: 20px;
    column-count: 2;
    column-gap: 20px;
}

#about div ul li{
    margin-bottom: 5px;
}

#about div ul li span{
    font-weight: 700;
}

#about div div{
    flex-direction: column;
    justify-content: space-between;
}

form input[type=submit],
#blog > a,
#about div div a{
    border: none;
    font-size: 28px;
    text-align: center;
    width: 48%;
    background: #ff5d53;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: white;
    display: inline-block;
}



#blog{
    background: #201e29;
    color: white;
}

#blog ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#blog ul li{
    width: 49%;
    margin-bottom: 30px;
}

#blog ul li article{
    display: flex;
    flex-wrap: wrap;
}

#blog ul li article h3{
    color: #85a949;
}

#blog ul li article p{
    font-size: 14px;
    font-weight: 300;
}

#blog ul li div:nth-of-type(1){
    flex: 1;
    padding: 10px;
    background: #19181d;
}

#blog ul li div:nth-of-type(2){
    width: 100%;
    background: #151219;
    color: #85a949;
    padding: 6px;
    display: flex;
    text-align: center;
}

#blog ul li div:nth-of-type(2) span{
    flex: 1;
}

#blog ul li div:nth-of-type(2) a{
    color: #85a949;
    text-decoration: none;
    flex: 2;
}

#blog > a{
    width: 32%;
    display: block;
    margin: 20px auto 0;
}

#blog #paginador{
	justify-content: center;
	gap: 10px;
}

#blog #paginador li{
	width: auto;
}

#blog #paginador li a{
	color: white;
	text-decoration: none;
	display: block;
	width: 30px;
	font-size: 14px;
	padding: 8px 0;
	text-align: center;
	border: 1px solid #FF5C53;
}

#blog #paginador li a.actual{
	background: #FF5C53;
}

#comentarios h3{
    margin: 0;
    font-weight: normal;
    font-size: 18px;
}

#comentarios span,
#comentarios p{
    font-size: 14px;
    line-height: 18px;
}

#comentarios li{
    padding: 20px 2vw;
}

#comentarios li:nth-child(odd){
    background: #27363E;
}

#comentarios form{
    padding-left: 0;
    padding-right: 0;
}

#comentarios form div{
    margin-bottom: 4px;
}


form#about .fields{
    align-items: flex-start;
}

form#about div .fields{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

form#about div .fields > div{
    flex: 1;
}

form#about div .fields > div div{
    margin-bottom: 15px;
}

form label{
    display: none;
}

form input[type="submit"],
form label + *{
    padding: 15px 20px;
    font-size: 18px;
    font-family: Lato, sans-serif;
}

form label + *{
    border: 1px solid #373737;
    background: #191820;
    color: white;
}

form label + *:focus{
    color: #85a949;
    outline: none;
    border-color: #85a949;
}

form label + *::placeholder{
    text-transform: uppercase;
    color: #939393;
}

form label + textarea{
    height: 192px;
    resize: none;
}

form label + *,
form input[type="submit"]{
    box-sizing: border-box;
    width: 100%;
}


footer{
    background: #191820;
    color: white;
    text-align: center;
    padding: 40px 0;
}