#skills ul li:nth-child(1) h3,
#skills ul li:nth-child(1) span{
    color: #d87114;
}
#skills ul li:nth-child(1) .barra::before{
    background: #d87114;
    width: 50%;
}

#skills ul li:nth-child(2) h3,
#skills ul li:nth-child(2) span{
    color: #cbdc11;
}
#skills ul li:nth-child(2) .barra::before{
    background: #cbdc11;
    width: 70%;
}

#skills ul li:nth-child(3) h3,
#skills ul li:nth-child(3) span{
    color: #14d9a4;
}
#skills ul li:nth-child(3) .barra::before{
    background: #14d9a4;
    width: 40%;
}

#skills ul li:nth-child(4) h3,
#skills ul li:nth-child(4) span{
    color: #58c718;
}
#skills ul li:nth-child(4) .barra::before{
    background: #58c718;
    width: 10%;
}
#skills ul li:nth-child(5) h3,
#skills ul li:nth-child(5) span{
    color: #d914cd;
}

#skills ul li:nth-child(5) .barra::before{
    background: #d914cd;
    width: 2%;
}