<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Lato:wght@300;400;700&family=Lobster&family=Zilla+Slab+Highlight&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/estilos.css" />
    <link rel="stylesheet" href="/assets/estilos-porcentajes.css" />
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <div>
            <h1>PadawansTrainer</h1>
            <p>Profesor, Programador, Jedi Master</p>
        </div>
        <img src="/assets/img/foto-header.png" alt="Foto de PadawansTrainer" />

        <nav>
            <ul>
                <li><a href='/'{% if categoria == 'home' %}  class='active'{% endif %}>Home</a></li>
                <li><a href='/#skills'>Skills</a></li>
                <li><a href='/#about'>About</a></li>
                <li><a href='/blog'{% if categoria == 'blog' %}  class='active'{% endif %}>Blog</a></li>
                <li><a href='/contacto'{% if categoria == 'contacto' %}  class='active'{% endif %}>Contacto</a></li>
            </ul>
        </nav>


    </header>
    <main>
        {% block main %}
            <p>aca va a estar el contenido de cada vista</p>
        {% endblock %}
    </main>
    <footer>
        <p>2022 Todos los derechos reservados</p>
    </footer>
</body>
</html>