{% extends 'base.html' %} 
{% block main %} 
<section id="blog">
    <article>
        <h2>Titulo del post que estamos expandiendo</h2> 
        <img src="/assets/img/foto-posteo.png" alt="Titulo del post" />

        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae suscipit ex, nec consequat nisl. Aliquam eleifend eros sapien, nec venenatis tortor semper in. Sed sed ornare odio, sit amet ullamcorper lectus. Proin bibendum laoreet lorem id lobortis. Maecenas auctor erat sed magna aliquam, in fringilla magna faucibus. Suspendisse convallis est augue, nec pretium arcu vulputate sed. Nulla convallis sapien laoreet posuere aliquam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae suscipit ex, nec consequat nisl. Aliquam eleifend eros sapien, nec venenatis tortor semper in. Sed sed ornare odio, sit amet ullamcorper lectus. Proin bibendum laoreet lorem id lobortis. Maecenas auctor erat sed magna aliquam, in fringilla magna faucibus. Suspendisse convallis est augue, nec pretium arcu vulputate sed. Nulla convallis sapien laoreet posuere aliquam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae suscipit ex, nec consequat nisl. Aliquam eleifend eros sapien, nec venenatis tortor semper in. Sed sed ornare odio, sit amet ullamcorper lectus. Proin bibendum laoreet lorem id lobortis. Maecenas auctor erat sed magna aliquam, in fringilla magna faucibus. Suspendisse convallis est augue, nec pretium arcu vulputate sed. Nulla convallis sapien laoreet posuere aliquam.</p>
        </div>
    </article>
</section>
<aside id="comentarios">
    <h2>Comentarios</h2>

    <ul>
        <li>
            <h3>Nombre y apellido</h3>
            <span>12/05/2022</span>
            <p>Aliquam eleifend eros sapien, nec venenatis tortor semper in. Sed sed ornare odio, sit amet ullamcorper lectus.<br />Proin bibendum laoreet lorem id lobortis. Maecenas auctor erat sed magna aliquam, in fringilla magna faucibus.<br />Suspendisse convallis est augue, nec pretium arcu vulputate sed. Nulla convallis sapien laoreet posuere aliquam</p>
        </li>
        <li>
            <h3>Nombre y apellido</h3>
            <span>12/05/2022</span>
            <p>Aliquam eleifend eros sapien, nec venenatis tortor semper in. Sed sed ornare odio, sit amet ullamcorper lectus.<br />Proin bibendum laoreet lorem id lobortis. Maecenas auctor erat sed magna aliquam, in fringilla magna faucibus.<br />Suspendisse convallis est augue, nec pretium arcu vulputate sed. Nulla convallis sapien laoreet posuere aliquam</p>
        </li>
        <li>
            <h3>Nombre y apellido</h3>
            <span>12/05/2022</span>
            <p>Aliquam eleifend eros sapien, nec venenatis tortor semper in. Sed sed ornare odio, sit amet ullamcorper lectus.<br />Proin bibendum laoreet lorem id lobortis. Maecenas auctor erat sed magna aliquam, in fringilla magna faucibus.<br />Suspendisse convallis est augue, nec pretium arcu vulputate sed. Nulla convallis sapien laoreet posuere aliquam</p>
        </li>
    </ul>

    <form method="post">
        <h3>Dejá tu comentario</h3>
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" required autocomplete="off" name="nombre" placeholder="Nombre" />
        </div>
        <div>
            <label for="comentario">Comentario</label>
            <textarea name="comentario" rows="5" cols="50" required placeholder="Comentario"></textarea>
        </div>
        <div>
            <input type="submit" value="Publicar mi comentario" />
        </div>
    </form>
</aside>
{% endblock %}