{% extends 'base.html' %}
{% block main %}
<section id="blog">

    <h2>Blog / Últimos posteos</h2> 

    <ul>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='/blog/leer'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>

                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>                <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='/blog/leer'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>

                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>                <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>

                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>                <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>

                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
    </ul>
    
    <ul id="paginador">
        <li><a href='#' class='actual'>1</a></li>
        <li><a href='#'>2</a></li>
        <li><a href='#'>3</a></li>
        <li><a href='#'>4</a></li>
        <li><a href='#'>5</a></li>
        <li><a href='#'>99</a></li>
        <li><a href='#'>222</a></li>
        <li><a href='#'>444</a></li>
        <li><a href='#'>555</a></li>
        <li><a href='#'>999</a></li>
    </ul>
</section>
{% endblock %}