{% extends 'base.html' %}
{% block main %}
<form id="about" method="post">

    <h2>Contactame</h2>
    <p>Completá este formulario y trataré de responderte a la brevedad.</p>


    <div>
        <img src="assets/img/foto-body.png" alt="Foto de padawanstrainer" />

        <div class="fields">
            <div>
                <div>
                    <label for="nombre">Nombre</label>
                    <input type="text"  autocomplete="off" name="nombre" id="nombre" placeholder="Nombre" />
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" autocomplete="off" name="email" id="email" placeholder="Email" />
                </div>
                <div>
                    <label for="telefono">Teléfono</label>
                    <input type="text" autocomplete="off" name="telefono" id="telefono" placeholder="telefono" />
                </div>
                <div>
                    <label for="website">Sitio web</label>
                    <input type="text" autocomplete="off" name="website" id="website" placeholder="Sitio web" />
                </div>
            </div>
            <div>
                <div>
                    <label for="mensaje">Mensaje</label>
                    <textarea name="mensaje" id="mensaje" rows="10" cols="80" placeholder="Mensaje"></textarea>
                </div>
                <div>
                    <input type="submit" value="Enviar mensaje" />
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}