{% extends 'base.html' %}
{% block main %}
<section id="skills">
    <h2>Skills</h2> 

    <ul>
        <li>
            <h3>FrontEnd</h3>
            <p>Me capacité con Germán y sus mega videos, manejo HTML, CSS y Javascript avanzado.</p>
            <div class="barra" data-width="50%">
                <span>50%</span>
            </div>
        </li>
        <li>
            <h3>BackEnd</h3>
            <p>Manejo PHP, MySQL para el desarrollo de sistemas autoadministrables</p>
            <div class="barra">
                <span>70%</span>
            </div>
        </li>
        <li>
            <h3>Servidores Web</h3>
            <p>Puedo configurar los prinicpales servicios de un LAMP: Apache, MySQL, Cron, SSH, SSL</p>
            <div class="barra">
                <span>40%</span>
            </div>
        </li>
        <li>
            <h3>UI/UX Design</h3>
            <p>Mis habilidades de diseño son nulas o indefinidas</p>
            <div class="barra">
                <span>10%</span>
            </div>
        </li>
        <li id="skill_mkt">
            <h3>Marketing Digital</h3>
            <p>¿Qué no habìan cerrado ya este antro?</p>
            <div class="barra">
                <span>2%</span>
            </div>
        </li>
        <li id="linkedin">
            Entrá a ver mis calificaciones en <a href='#'>LinkedIn</a>
        </li>
    </ul>
</section>
<section id="about">

    <h2>Quién Soy</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae suscipit ex, nec consequat nisl. Aliquam eleifend eros sapien, nec venenatis tortor semper in. Sed sed ornare odio, sit amet ullamcorper lectus. Proin bibendum laoreet lorem id lobortis. Maecenas auctor erat sed magna aliquam, in fringilla magna faucibus. Suspendisse convallis est augue, nec pretium arcu vulputate sed. Nulla convallis sapien laoreet posuere aliquam.</p>


    <div>
        <img src="assets/img/foto-body.png" alt="Foto de padawanstrainer" />

        <div>
            <ul>
                <li><span>Nombre</span>: Germán Rodríguez</li>
                <li><span>Edad</span>: 18 años (?</li>
                <li><span>Experiencia</span>: 12 años</li>
                <li><span>País</span>: Argentina</li>
                <li><span>Disponibilidad de mudarme</span>: SI</li>
                <li><span>Modalidad</span>: Freelance</li>
                <li><span>Web</span>: germanrodriguez.com.ar</li>
                <li><span>EMAIL</span>: german@email.com</li>
                <li><span>MSN</span>: germiretro2002@hotmail.com</li>
                <li><span>ICQ</span>: 141548781</li>
            </ul>
            <a href='#'>Descargar CV</a>
        </div>
    </div>
    

</section>
<section id="blog">

    <h2>Blog</h2> 

    <ul>
                <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='/blog/leer'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>
                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
        <li>
            <article>
                <img src="assets/img/foto-posteo.png" alt="Titulo" />
                <div>
                    <h3>Título del Post que vamos a publicar</h3>

                    <p>Nulla pretium purus in nibh elementum tristique. Ut non neque in odio sagittis ullamcorper. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed egestas condimentum neque quis ultricies. Fusce ac pulvinar orci....</p>
                </div>
                <div>
                    <span>05/05/2022</span>
                    <span>2 comentarios</span>
                    <a href='#'>LEER COMPLETO</a>
                </div>
            </article>
        </li>
    </ul>
    <a href='/blog'>Ver más posteos</a>
</section>
{% endblock %}